.aboutme{
    background-color: #333 !important;
    color: white;
}
#para{
    text-align: justify !important;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.out-para-div{
    justify-content: center;
}
.row{
    justify-content: center;
}