/* .container{
    background-color: #333;
    color: white;
}
.row{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.project{
    margin-left: 250px;
    margin-right: 250px;
} */
.projects{
    color: white !important;
}
.project{
    margin-left: 15% !important;
    margin-right: 15% !important;
    text-align: justify;
}